:root {
    --bg-color: var(#010101);
    --text-color: var(#250001);
    --primary-color: var(#A50104);
    --secondary-color: var(#590004);
    --accent-color: var(#FCBA04)l
}
/* remove default styling */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    line-height: 1.4;
}
body {
    background-color: #010101;
    color: #fafafa;
    text-align: center;
    margin: 0 0 55px 0;
}
/* Utility */
.center {
    margin-left: auto;
    margin-right: auto;
}
.margin-top {
    margin-top: 20px;
}
.margin-top-half {
    margin-top: 10px;
}
.margin-vertical {
    margin: 20px 0 20px 0;
}
.border-red {
    border-color: #A50104;
}
.border-black {
    border-color: #010101;
}
/* Fonts */
.poppins-semibold {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
}
.poppins-semibold-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: italic;
}
@font-face {
    font-family: 'Las Vegas';
    src: url(LasVegas\ Fabulous\ Regular.otf);
}
/* Text */
h1 {
    text-align: center;
    font-size: 2.5rem;
}
.time-text {
    font-size: 3rem;
}
.days-text {
    padding-top: 10px;
}
.tip-text {
    width:70%;
    text-align:center;
    margin-left: auto;
    margin-right: auto;
}
.recording-instructions {
    font-size: 1.5rem;
}
.friend-group-name {
    font-size: 2rem;
}
.friend-list {
    font-size: 0.75rem;
}
.friend-group-card-bottom {
    display: flex;
    justify-content: space-around;
}
/* Nav */
.nav {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 55px;
    box-shadow: 0 0 3px rgba(0,0,0, 0.25);
    background-color: #010101;
    overflow-x: auto;
    display: flex;
}
.nav-link, a {
    text-decoration: none;
    color: #fafafa;
}
.nav-link {
    display: flex;
        flex-grow: 1;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    min-width: 50px;
    overflow: hidden;
    white-space: nowrap;
    -webkit-tap-highlight-color: transparent;
    transition: background-color 0.1s ease-in-out;
}
.nav-link:hover {
    background-color: #FCBA04;
}
/* all this css for the button troll */
/* 10 Pulse */
.hk-tg-10 label {
  background: #232733;
}
.hk-tg-10 label::after {
  background: #fff;
}
.hk-tg-10 input:checked + label {
  background: #6a5cff;
}
.hk-tg-10 input:checked + label::after {
  transform: translateX(38px);
  animation: pulse 0.8s ease;
}

@keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 rgba(106, 92, 255, 0.7);
  }
  100% {
    box-shadow: 0 0 0 14px rgba(106, 92, 255, 0);
  }
}


.alarm-card, .friend-group-card, .bg-icon-card {
    display:flex;
    justify-content: center;
    flex-direction:column;
    width: 90%;
    border-radius: 1rem;
    /* primary color but transparent */
    background-color: rgba(2, 102, 0, .5);
}

.alarm-info {
    display:flex;
    justify-content: space-around;
}
.friend-card {
    border-radius: 10px;
    display: flex;
    justify-content: space-around;
}
.friend-data {
    border-radius: 50%;
    /* width: 50px; */
}

